################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/GraphExercise_msvc/Debug
/GraphExercise_msvc/BasicMath/Debug
/GraphExercise_msvc/GraphExercise_msvc.VC.db
/GraphExercise_msvc/.vs/GraphExercise_msvc/v15
/GraphExercise_msvc/BasicMath/Release
/GraphExercise_msvc/Release
/GraphExercise_msvc/x64/Debug
/GraphExercise_msvc/x64/Release
/GraphExercise_msvc/BasicMath/x64/Debug
/GraphExercise_msvc/BasicMath/x64/Release
/GraphExercise_msvc/UnitTest/Debug
